.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
}
button{
    border-radius:34px ;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    background-color: #ffa600ef;
    box-shadow: 1px 6px 6px 1px #c9bfaa
}
button:hover{
    cursor: pointer;
    background-color: #fff;
    color: orange;
    border: 1px solid #ffa600ef;
}